<h1>Problems List</h1>

<p><b>Supported problems:</b> User submitted code is tested with our test cases, the submission is checked and saved</p>

<p><b>Unsupported problems:</b> User submitted code is compiled and executed by itself. The submission is marked incorrect since there are no test files to check it</p>

<table>
  <tr>
    <th>Problem</th>
    <th>Area</th>
    <th>Max Score</th>
    <th>Difficulty</th>
    <th>Suppported</th>
  </tr>
 
  <% @problems.each do |problem| %>
    <tr>
      <td><%= link_to problem.problem_title, problem_path(problem.id) %></td>
      <td><%= problem.problem_area %></td>
      <td><%= problem.total_score %></td>
      <td><%= problem.difficulty_level %></td>
      <% if problem.supported_langs != nil %>
        <td>Supported</td>
      <%else%>
        <td>Unsupported</td>
      <%end%>

    </tr>
  <% end %>
</table>