<div class="center jumbotron">
<h1>Welcome to Preparation for Programming Interviews</h1>

 <h2>
    An online platform for practicing coding interview problems and finding your career
  </h2>
<p>
</br>
<%=link_to 'SignUp Now', new_user_path, class: "btn btn-lg btn-primary" %></br>
</p>
</div>